{% extends "base.html" %}
{% block content %}

<form action="{% url 'add-file' %}" method="post"
      enctype="multipart/form-data">
		{%	csrf_token	%}
        <h2>{{ message }}</h2>
        {{  form.as_p   }}
        <input type="submit" value="Add CSV file!"/>
        <a class="link" href="{% url 'main-page'%}">
                <button type="button">Cancel</button>
        </a>
</form>
<table>
    {% for dat in data %}
    <tr>
        <td>{{ dat }} </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
